/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.orange-text{
    color: #FBA24F;
}
.btn{
    text-decoration: none;
    padding: 15px 30px;
    background-color: black;
    color: whitesmoke;
    border-radius: 100px;
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
}
/* hero-section styles */
#hero-section{
    width: 100%;
    height: 600px;
}
.hero-container{
    display: flex;
    align-items: center;
    margin: 0 100px;
}
.hero-text{
    width: 50%;
}
.hero-text > h1{
    font-size: 60px;
    color: #575757;
    margin-bottom: 40px;
}
.hero-text > p{
    font-size: 20px;
    color: #828282;
    margin-bottom: 40px;
}
.hero-image{
    width: 50%;
}
.hero-image > img{
    width: 100%;
}
/* about-section styles */
#about-section{
    width: 100%;
    height: 600px;
    background-image: url('./images/shapes/7.png');
}
.about-container{
    display: flex;
    justify-content: center;
}
.about-image{
    width: 35%;
    position: relative;
}
.about-image > img{
    width: 338px;
    height: 536px;
    position: absolute;
    bottom: -145px;
}
.about-text{
    width: 35%;
    margin-top: 200px;
}
.about-text > h3{
    font-size: 40px;
    color: #707070;
    margin-bottom: 45px;
}
.about-text > p{
    margin-bottom: 45px;
}