/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.orange-text{
    color: #FBA24F;
}
.btn{
    text-decoration: none;
    padding: 15px 30px;
    background-color: black;
    color: whitesmoke;
    border-radius: 100px;
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
}
/* hero-section styles */
#hero-section{
    width: 100%;
    height: 600px;
}
.hero-container{
    display: flex;
    align-items: center;
    margin: 0 100px;
}
.hero-text{
    width: 50%;
}
.hero-text > h1{
    font-size: 60px;
    color: #575757;
    margin-bottom: 40px;
}
.hero-text > p{
    font-size: 20px;
    color: #828282;
    margin-bottom: 40px;
}
.hero-image{
    width: 50%;
}
.hero-image > img{
    width: 100%;
}
/* about-section styles */
#about-section{
    width: 100%;
    height: 600px;
    background-image: url('./images/shapes/7.png');
}
.about-container{
    display: flex;
    justify-content: center;
}
.about-image{
    width: 35%;
    position: relative;
}
.about-image > img{
    width: 338px;
    height: 536px;
    position: absolute;
    bottom: -145px;
}
.about-text{
    width: 35%;
    margin-top: 200px;
}
.about-text > h3{
    font-size: 40px;
    color: #707070;
    margin-bottom: 45px;
}
.about-text > p{
    margin-bottom: 45px;
}

/* recipie-section styles */
#recipie-section{
    padding: 72px 100px;
    text-align: center;
}
.recipie-title{
    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    color: #676767;
    margin-bottom: 30px;
}
.recipie-description{
    color: #252525;
    font-size: 18px;
    line-height: 25px;
}
.recipies-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.item-card{
    width: 600px;
    height: 525px;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-image > img{
    width: 550px;
    height: 308px;
    border-radius: 20px;
}
.item-text{
    text-align: start;
    margin-top: 30px;
    width: 535px;
    height: 140px;
}
.item-text > h3{
    font-size: 28px;
    color: #18191F;
    margin-bottom: 10px;
}

/* media-section styles */
#media-section{
    margin: 0 100px 75px 100px;
}
.media-container{
    width: 1239px;
    height: 226px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-media > h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* footer-section styles */
#footer-section{
    width: 100%;
    height: 200px;
    background-color: #0B0D17;
    color: white;
    text-align: center;
}
.footer-title{
    font-size: 30px;
    padding-top: 60px;
    margin-bottom: 10px;
}